<!DocTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h2>{{title}}</h2>
        <p> This site is created for learning javascript. It uses data from <a href="https://www.mapbox.com/" target="_blank"> mapbox</a> and <a href="https://darksky.net" target="_blank">darksky</a></p>
        <img class="portrait" src='/img/trump-uncle.jpg'>
        <p>Created by: {{name}} </p>
        </div>
        {{>footer}}
    </body>
</html> 